body {
  background: url('../images/bg.jpg');
	height:100%;
}
li {
	list-style: none;
}
svg {
	margin-top: -10px;
}
.container {
	height: 100%;
    min-width: 1000px;
}
.background {
  fill: none;
  pointer-events: all;
}
.nav {
    padding: 15px 0 0 33px;
}
.form-control {
    display: block;
    font-size: 14px;
    height: 30px;
    padding: 5px 10px;
	text-align: center;
}
.bfd-search_input input {
    border: 1px solid #6f6f6f;
	padding-right: 25px;
}
.input-lg {
    width: 300px;
    height: 30px;
	padding-left: 10px;
    padding-right: 10px;
}
.btn {
    border-radius: 2px;
    padding: 4px 20px;
	color: #fff;
	padding: 0 20px;
	height: 30px;
	background-color: #6f6f6f;
	border: 1px solid transparent;
	border-radius: 2px;
	
}
.btn-primary {
    color: #fff;
    background-color: #6f6f6f;
}
.btn-primary:hover {
    background-color: #5f5e5e;
}
.btn-primary:focus {
    outline: none;
}
.btn.lg {
	height: 38px;
}
.message{
	position: absolute;
	left: 24px;
	top: 131px;
	width: 222px;
	margin-right: 21px;
	display: none;
}
.message_top,.message_bot{
	background: rgba(97, 97, 97, 0.3);
	width: 100%;
	margin-bottom:20px;
	border-radius: 3px;
	padding: 4px 12px 6px;
	color: #fafafa;
}
.message_top h3,.message_bot h3{
	height: 35px;
	line-height: 35px;
	font-size: 13px;
	padding-left: 5px;
}
.message_top ul,.message_bot ul{
	font-size: 12px;
	line-height: 20px;
	border-top: 1px solid #666;
	padding:10px 5px;
}
#chart .node {
  /*stroke: #fff;
  stroke-width: 1.5px;*/
}
#chart .link {
  stroke: #fff;
  stroke-opacity: .6;
  stroke-width: 1.5px;
}
#chart .label {
	font-size: 12px;
	color: #fff;
	font-family: "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
}
.tooltip {
	white-space: nowrap;
	min-width: 80px;
	background-color: #607d8b;
	color: #fff;
	border-radius: 2px;
	padding: 6px 8px;
	font-size: 12px;
	z-index: 9999;
	font-family: "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
}